@import "tailwindcss";

@theme {
  --color-primary: #6750a4;
  --color-on-primary: #ffffff;
  --color-primary-container: #eaddff;
  --color-on-primary-container: #21005d;

  --color-secondary: #625b71;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #e8def8;
  --color-on-secondary-container: #1d192b;

  --color-tertiary: #7d5260;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #ffd8e4;
  --color-on-tertiary-container: #31111d;

  --color-error: #b3261e;
  --color-on-error: #ffffff;
  --color-error-container: #f9dedc;
  --color-on-error-container: #410e0b;

  --color-background: #fffbfe;
  --color-on-background: #1c1b1f;
  --color-surface: #fffbfe;
  --color-on-surface: #1c1b1f;
  --color-surface-variant: #e7e0ec;
  --color-on-surface-variant: #49454f;
  --color-surface-container: #f3edf7;

  --color-outline: #79747e;
  --color-outline-variant: #cac4d0;

  --color-inverse-surface: #313033;
  --color-inverse-on-surface: #f4eff4;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-on-background);
}
